#first-back {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#second-back {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  color: rgb(0, 0, 0); 
  background-color:rgba(255, 255, 255, 0.828);
  width: 850px;
}

#third-back{
  color: rgb(0, 0, 0); 
  background-color:rgb(255, 255, 255);
  width: 800px;
}

.intro-image{
  background: url(eva-images/queens.jpg) no-repeat center; 
  background-size: cover;
  height: 700px;
  position: relative;
  /* Add the blur effect */
  filter: blur(2px);
}

.intro-text {
  background-color: rgba(0,0,0, 0.3); 
  border: 3px solid #f1f1f1;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%; 
  transform: translate(-50%, -50%);
  padding: 10px;
  color:rgb(255, 255, 255);
  font-family: "Lucida Console", Courier, monospace;
}

.quote-image{
  background: url(eva-images/space.jpg) no-repeat center; 
  background-size: cover;
  height: 500px;
  position: relative;
}

.quote-text {
  background-color: rgba(0,0,0, 0.3); 
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color:rgb(255, 255, 255);
  font-family: "Lucida Console", Courier, monospace;
}

.education-image{
  background: url(eva-images/satellite.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.education-text {
  background-color: rgba(0,0,0, 0.3); 
  border: 3px solid #f1f1f1;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 80%; 
  transform: translate(-50%, -50%);
  padding: 10px;
  color:rgb(255, 255, 255);
  font-family: "Lucida Console", Courier, monospace;
}

/* middle part of index.html page */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column.left {
  float: left;
  width: 80%;
  
}
.column.right {
  float: left;
  width: 20%;
  
}

#quotes-container {
  margin-top: 20px;
}

.button {
  background-color: rgb(0, 0, 0);
  border: none;
  color:rgb(255, 241, 40);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.github-button:hover {
  background-color:rgb(255, 241, 40);
  color:rgb(24, 21, 21);
}

.fb-button {
  background-color: rgb(43, 90, 219); 
  color: rgb(255, 255, 255); 
}
.fb-button:hover {
  background-color:rgb(255, 255, 255);
  color:rgb(43, 90, 219);
}

.link-button {
  background-color: rgb(0, 0, 0); 
  color: rgb(255, 255, 255); 
  padding: 15px 25px;
  border: 2px solid rgb(255, 255, 255);
  transition-duration: 0.4s;
}
.link-button:hover {
  background-color: rgb(255, 255, 255); 
  color:rgb(0, 0, 0); 
}

/* paragraph */ 
/* index.html */
p.index { 
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

/* education.html */
p.title { 
  margin-right: 30px;
  margin-left: 30px;
  font-size: 20px;
}

p.location { 
  font-size: 17px;
  text-indent: 35px;
}

p.section-title { 
  margin-right: 30px;
  margin-left: 30px;
  font-size: 24px;
  color: rgb(3, 155, 79);
}

ul.course { 
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 20px;
}

body {
  color: aliceblue; 
  background-color:rgb(0, 0, 0);
}

